header{
  background-image: url("./img/aspen.JPG");
  background-size: cover;
  background-position: center;
  height: 50vh;
}



header{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-end;
  padding: 100px
}

body {
  font-family: arial, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #cc99ff;
  }

nav{
text-align: center;
justify-content: column
display: flex;
justify-content: space-around;
}

li{
  display: inline;
  padding: 30px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: turquoise;
  border-style:dotted;
  border-width: medium;
  border-color: white;
}

.puppy{
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.food{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#99d6ff;
  border-style: dotted;
  border-color: white;
}

.travel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: turquoise;
  border-style: dotted;
  border-color: white;
}

.toys{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #99d6ff;
  border-style: dotted;
  border-color: white;
}

.contact{
  display: flex;
  justify-content: space-between;
}

/*
Use your CSS skills to restyle the page!

Requirements:
1. Properly use at least one id selector, class selector and tag selector.
2. Restyle at least three elements however you want.
3. Use flexbox to:
  1. Center an element
  2. Create columns in one section
*/
